In [ ]:
#this notebook will used for in purpose of feature embeding into LSTM and GRU layers

In [ ]:
from google.colab import drive 
drive.mount('/content/drive')

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 

import tensorflow as tf 
from tensorflow import keras 
from tensorflow.keras import layers
from tensorflow.keras.layers import Dense,Dropout, LSTM, GRU, Embedding, Flatten, Lambda, Multiply, Concatenate
from tensorflow.keras.preprocessing. text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.preprocessing import LabelEncoder
from platform import python_version
import os
import sys
from sklearn.model_selection import train_test_split

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
a_col = ['anime_id', 'title', 'title_english', 'title_japanese',
       'title_synonyms', 'image_url', 'type', 'source', 'episodes', 'status',
       'airing', 'aired_string', 'aired', 'duration', 'rating', 'score',
       'scored_by', 'rank', 'popularity', 'members', 'favorites', 'background',
       'premiered', 'broadcast', 'related', 'producer', 'licensor', 'studio',
       'genre', 'opening_theme', 'ending_theme', 'duration_min',
       'aired_from_year']
b_col = ['username', 'anime_id', 'my_watched_episodes', 'my_start_date',
       'my_finish_date', 'my_score', 'my_status', 'my_rewatching',
       'my_rewatching_ep', 'my_last_updated', 'my_tags']
c_col = ['username', 'user_id', 'user_watching', 'user_completed', 'user_onhold',
       'user_dropped', 'user_plantowatch', 'user_days_spent_watching',
       'gender', 'location', 'birth_date', 'access_rank', 'join_date',
       'last_online', 'stats_mean_score', 'stats_rewatched', 'stats_episodes']
NROWS = 1000

In [ ]:
b = pd.read_csv('drive/MyDrive/Colab Notebooks/datasets/anime/animelists_cleaned.csv',
                # nrows = NROWS,
                usecols = ['username', 'anime_id','my_score'])

c = pd.read_csv('drive/MyDrive/Colab Notebooks/datasets/anime/users_cleaned.csv',
                # nrows = NROWS,
                usecols = ['username', 'user_id'])

df_long = c.merge(b, left_on = 'username', right_on = 'username')
df_long = df_long.drop(columns = ['username'])
df, df_test = train_test_split(df_long, train_size = 0.025, test_size = 0.975, random_state  =42)
df = df.reset_index(drop = True)
df = df.rename(columns={'user_id':'user', 'anime_id':'item', 'my_score':'plays'})

In [ ]:
def get_negatives(uids, iids, items, df_test):
    """Returns a pandas dataframe of 100 negative interactions
    based for each user in df_test.
    Args:
        uids (np.array): Numpy array of all user ids.
        iids (np.array): Numpy array of all item ids.
        items (list): List of all unique items.
        df_test (dataframe): Our test set.
    Returns:
        df_neg (dataframe): dataframe with 100 negative items 
            for each (u, i) pair in df_test.
    """

    negativeList = []
    test_u = df_test['user_id'].values.tolist()
    test_i = df_test['item_id'].values.tolist()

    test_ratings = list(zip(test_u, test_i))
    zipped = set(zip(uids, iids))

    for (u, i) in test_ratings:
        negatives = []
        negatives.append((u, i))
        for t in range(100):
            j = np.random.randint(len(items)) # Get random item id.
            while (u, j) in zipped: # Check if there is an interaction
                j = np.random.randint(len(items)) # If yes, generate a new item id
            negatives.append(j) # Once a negative interaction is found we add it.
        negativeList.append(negatives)

    df_neg = pd.DataFrame(negativeList)

    return df_neg

In [ ]:
def load_dataset(df):

    # Drop any rows with empty cells or rows
    # with a play count of zero.
    df = df.dropna()
    df = df.loc[df.plays != 0]

    # Remove any users with fewer than 1 interaction. 
    df_count = df.groupby(['user']).count()
    df['count'] = df.groupby('user')['user'].transform('count')
    df = df[df['count'] > 1]

    # Convert artists names into numerical IDs
    df['user_id'] = df['user'].astype("category").cat.codes
    df['item_id'] = df['item'].astype("category").cat.codes

    # Create a lookup frame so we can get the artist
    # names back in readable form later.
    item_lookup = df[['item_id', 'item']].drop_duplicates()
    item_lookup['item_id'] = item_lookup.item_id.astype(str)

    # Grab the columns we need in the order we need them.
    df = df[['user_id', 'item_id', 'plays']]

    # Create training and test sets.
    df_train, df_test = train_test_split(df,train_size = 0.8, test_size = 0.2, random_state = 42)

    # Create lists of all unique users and artists
    users = list(np.sort(df.user_id.unique()))
    items = list(np.sort(df.item_id.unique()))

    # Get the rows, columns and values for our matrix.
    rows = df_train.user_id.astype(int)
    cols = df_train.item_id.astype(int)

    values = list(df_train.plays)

    # Get all user ids and item ids.
    uids = np.array(rows.tolist())
    iids = np.array(cols.tolist())

    # Sample 100 negative interactions for each user in our test data
    df_neg = get_negatives(uids, iids, items, df_test)

    return uids, iids, df_train, df_test, df_neg, users, items, item_lookup

In [ ]:
uids, iids, df_train, df_test, df_neg, users, items, item_lookup = load_dataset(df)

In [ ]:
num_neg = 3
def get_train_instances():
     """Samples a number of negative user-item interactions for each
     user-item pair in our testing data.
     Returns:
         user_input (list): A list of all users for each item
         item_input (list): A list of all items for every user,
             both positive and negative interactions.
         labels (list): A list of all labels. 0 or 1.
     """

     user_input, item_input, labels = [],[],[]
     zipped = set(zip(uids, iids))

     for (u, i) in zip(uids,iids):
         # Add our positive interaction
         user_input.append(u)
         item_input.append(i)
         labels.append(1)

         # Sample a number of random negative interactions
         for t in range(num_neg):
             j = np.random.randint(len(items))
             while (u, j) in zipped:
                 j = np.random.randint(len(items))
             user_input.append(u)
             item_input.append(j)
             labels.append(0)

     return user_input, item_input, labels

In [ ]:
user_input, item_input, labels =  get_train_instances()

In [ ]:
user_num = np.max(user_input)+2
item_num = np.max(item_input)+2
anime_num = item_num
embed_dim = 16

In [ ]:
def total_model():
  user_input = tf.keras.Input(shape = (1), name = 'user_input')
  anime_input = tf.keras.Input(shape  = (1), name  ='anime_input')

  mlp_user_emb = Embedding(user_num+2,embed_dim,name='mlp_user_embeddings')(user_input)
  mlp_item_emb = Embedding(anime_num+2,embed_dim,name='mlp_anime_embeddings')(anime_input)

  gmf_user_emb = Embedding(user_num+2,5,name='gmf_user_embeddings')(user_input)
  gmf_item_emb = Embedding(anime_num+2,5,name='gmf_anime_embeddings')(anime_input)

  # user_emb_layer = Embedding(user_num+2,embed_dim,name='user_embeddings')(user_input)
  # anime_emb_layer = Embedding(anime_num+2,embed_dim,name='anime_embeddings')(anime_input)

  mlp_flat_user = Flatten(name = 'mlp_user_flatten')(mlp_user_emb)
  mlp_flat_anime = Flatten(name = 'mlp_item_flatten')(mlp_item_emb)

  gmf_flat_user = Flatten(name = 'gmf_user_flatten')(gmf_user_emb)
  gmf_flat_anime = Flatten(name = 'gmf_anime_flatten')(gmf_item_emb)


  # print(flat_user.shape)
  # print(flat_anime.shape)
### MLP SIDE
# concat_layer = Concatenate(axis=2, name = 'concat_layer'
#                 )([user_emb_layer,anime_emb_layer])
  concat_layer = Concatenate(axis=1, name = 'concat_layer'
                )([mlp_flat_user,mlp_flat_anime])
  print(concat_layer.shape)
  mlp_layer_1 = Dense(128, activation='relu',name ='dense_1')(concat_layer)
  mlp_layer_1 = Dropout(0.5)(mlp_layer_1)
  mlp_layer_2 = Dense(64, activation='relu',name ='dense_2')(mlp_layer_1)
  mlp_layer_2 = Dropout(0.5)(mlp_layer_2)
  mlp_layer_3 = Dense(32, activation='relu',name ='dense_3')(mlp_layer_2)
  mlp_layer_3 = Dropout(0.5)(mlp_layer_3)
  mlp_layer_4 = Dense(16, activation='relu',name ='dense_4')(mlp_layer_3)
  mlp_layer_5 = Dense(8, activation='relu',name ='dense_5')(mlp_layer_4)

  print(mlp_layer_5.shape)
### MLP SIDE
### MLP SIDE
  gmf_layer = Multiply( name = 'element_multip_layer'
                )([gmf_flat_user,gmf_flat_anime])
  print('gmf_layer_shape',gmf_layer.shape)
### MLP SIDE
  neuMF_layer =Concatenate(axis=1, name = 'neuMF_layer'
                )([gmf_layer,mlp_layer_5])

  neuMF_layer_2 = Dense(8, activation='relu',name ='dense_neuMF_1')(neuMF_layer)
  neuMF_layer_3 = Dense(1, activation='sigmoid',name ='dense_neuMF_2')(neuMF_layer_2)
  
  return tf.keras.Model(inputs = [user_input, anime_input], outputs=neuMF_layer_3  )

mlp_model = total_model()
mlp_model.compile(
    loss = 'binary_crossentropy',
    # optimizer = tf.keras.optimizers.RMSprop(learning_rate = 0.001),
    optimizer = 'Adam',
    # metrics = 'accuracy',
    metrics = tf.keras.metrics.TopKCategoricalAccuracy(
    k=5, name='top_k_categorical_accuracy', dtype=None
)
)

# cat_score = to_categorical(train_df['score'])
# cat_score_test = to_categorical(test_df['score'])

mlp_hist = mlp_model.fit([
                          tf.constant(user_input), 
                          tf.constant(item_input)],
                          tf.constant(labels),
                          # train_df['score'],
                          # cat_score,
                          epochs = 1,
                          validation_split = 0.2,
                         batch_size =30)

(None, 32)
(None, 8)
gmf_layer_shape (None, 5)
39494/39494 [==============================] - 736s 19ms/step - loss: 0.4314 - top_k_categorical_accuracy: 1.0000 - val_loss: 0.4156 - val_top_k_categorical_accuracy: 1.0000

In [ ]:
df_neg

                 0     1     2     3     4    ...   96    97    98    99    100
0      (65875, 4903)   971  5440  4428  5138  ...  2470   978  1998   174   181
1      (18755, 4034)  4008  4951  3388  4618  ...  5013  5537  3129  4885  5611
2         (9553, 79)  3813  2060  1047  5042  ...  3426  5413  1408  3679  1545
3      (35600, 3061)  1531   556  3173   121  ...  4387  4238  1266  3889   917
4       (3512, 1131)  4920  3287  5591  4990  ...  3270  4150  1784   758  3369
...              ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...
92559   (1579, 1759)   969  4686  3477  1176  ...  3074  1778  1797  3962  4241
92560  (19612, 4188)   604  4705   951  1200  ...  1899   311  3470  3043  4160
92561  (62533, 4145)  1454  5261   410  3582  ...  4849  3725  1211   934  3541
92562  (44766, 4308)  4121   929  1205  2557  ...  5293  3841  5250   453  2662
92563  (58728, 1152)  4865  4553  2919   216  ...  2719   801  1898  1577  2737

[92564 rows x 101 columns]

In [1]:
mlp_model.predict([3,4])

NameError: ignored